.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

header a {
  color: inherit;
  text-decoration: none;
}

button {
	background-color: green;
	border: 0;
	box-shadow: 3px 3px #000;
	color: #fff;
  cursor: pointer;
        padding: 2px 6px 3px;
	font-size: 1.2em;
  outline: none;
  transition: transform 0.1s, box-shadow 0.1s;
  -webkit-transition: -webkit-transform 0.1s, box-shadow 0.1s;
}

@media (max-width: 600px) {
  button {
    padding: 4px 4px;
    font-size: 0.8em;
  }
}

button:hover {
  color: #EFE8B4;
}

button:focus, button:active {
  color: #EFE8B4;  
  background-color: rgb(0, 108, 0);
	box-shadow: 3px 3px #333;
}

button:active {
	box-shadow: 0px 0px #333;  
  transform: translate(3px, 3px);
  -webkit-transform: translate(3px, 3px);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: #D7E0CD;
  padding: 0 10px;
  /*max-width: 960px;
  margin: auto;*/
}

body.initial {
  overflow: hidden;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Francois One', Impact, sans-serif;
}

.logo {
  font-family: 'Francois One', Impact, sans-serif;
  margin: 14px 0 4px;
  display: inline-block;
}

h2 {
  font-size: 1.1em;
  margin: 0 0 6px;
}

h3, h4 {
  font-size: 1.1em;
  margin: 0 0 6px;
}

h4 {
 clear: left;
}

header {
  padding: 10px;
  position: relative;
  text-align: center;
  border-bottom: 5px green solid;
  padding-bottom: 5px;
}

header h1, header h2 {
  display: inline-block;
}

.word-mark {
  display: inline;
}

/*
.shirt {
background: green url(shirt.png);
background-repeat: no-repeat;
background-size: cover;
width: 200px;
height: 200px;
padding: 16% 26%;
}

  .shirt figure {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}
 */
.random {
  display: block;
  margin: 16px -31px 0 8px;
  padding: 4px 6px;
  width: 170px;

  float: right;
	position: relative;
	bottom: 41px;
	transform: rotate(6deg) rotateY(20deg);
	-webkit-transform: rotate(6deg) rotateY(20deg);
}

@media (max-width: 600px) {
  .random {
    width: 130px;
    font-size: 1.1em;
  }
}

.random:active {
  transform: translate(3px, 3px) rotate(6deg);
  -webkit-transform: translate(3px, 3px) rotate(6deg);
}

.cursor {
  position: absolute;
  transition: left 0.5s, top 0.5s, transform 1s;
  -webkit-transition: left 0.5s, top 0.5s, -webkit-transform 1s;
  transform: scale(0.1, 0.1);
  -webkit-transform: scale(0.1, 0.1);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200px;
  height: 200px;
  fill: green;
  z-index: 10;
  pointer-events: none;
}

.cursor.initial {
  /* Initial position to animate from */
  transform: rotate(180deg) scale(10.0, 10.0);
  -webkit-transform: rotate(180deg) scale(10.0, 10.0);
  top: 150%;
  left: 0%;
}

.the-mark-consists-of em {
  font-style: normal;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.shirt-area {
  clear: right;

	width: 58%;
	height: 277px;
	
  float: right;
  position: relative;
  transition: all 1s;
  -webkit-transition: all 1s;
  margin: 0 -40px 8px 4px;
  transform: rotateZ(-9deg);
  -webkit-transform: rotateZ(-9deg);
}

@media (max-width: 600px) {
  .shirt-area {
    height: 160px;
  }
}

.shirt-area.flipping {
  transform: rotateZ(-9deg) rotateY(90deg);
  -webkit-transform: rotateZ(-9deg) rotateY(90deg);
}

.shirt-area.flipped {
  transform: rotateZ(-9deg) rotateY(0deg);
  -webkit-transform: rotateZ(-9deg) rotateY(0deg);
}

.shirt-area.flipped figure {
  display: block;
}

.shirt-area.flipped .shirt-weed {
  display: none;
}

.shirt-area figure {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  display: none;
  background-position: 50% 50%;
	width: 42%;
	margin-left: 29%;
	top: 20%;
	height: 53%;
}

.shirt-area .shirt-weed {
  fill: green;
  position: absolute;
	top: 36%;
	width: 39%;
	left: 30%;
	height: 45%;
}

.shirt-image {
  width: 100%; 
  height: 100%;
}

.shirt {
  display: inline-block;
  width: 69px;
  height: 50px;
  margin-left: -7px;
  margin-bottom: -5px;
  margin-right: -11px;
}

.audio {
  display: none; /* only show Play button if browser supports Speech Synthesis */
  float: left;
  margin: 0 15px 10px 0;
}

.card {
  position: relative;
  max-width: 590px;
  margin: 30px auto 10px;
  background-color: #fff;
  padding: 18px;
  z-index: 1;
}

footer {
  text-align: center;
  padding: 20px;
}

